extends layout

block content
  .container.result-container
    .row
      .col-sm-12
        h2 All Polls
        hr
        table.table.table-hover.table-condensed.table-striped
          tbody
            each poll in polls
              - let date = moment(poll.date).fromNow()
              tr.clickable-row(data-href=`/poll/${poll._id}`)
                td(style='color: #337ab7') #{poll.question}
                td Posted: #{date}
            else
              p There are no polls!