extends layout

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" rel="text/javascript")

block content
  .chart-container
    canvas(id="chart" width="350" height="350")
  script.
    $(window).on('load', function() {
      const poll = !{poll};
      const backgroundColors = (n) => {
        const randomColors = () => {
          let r = Math.floor(Math.random() * 256);
          let g = Math.floor(Math.random() * 256);
          let b = Math.floor(Math.random() * 256);
          let string = `rgb(${r}, ${g}, ${b})`;
          return string;
        };
        let array = [];
        for (let i = 0; i < n; i++) {
          array.push(randomColors());
        };
        return array;
      }
      const labelMaker = (choices) => {
        let labels = choices.map((o) => o.text);
        return labels;
      }
      const dataMaker = (choices) => {
        let dataArr = [];
        choices.forEach((o) => {
          dataArr.push(o.votes.length);
          })
          return dataArr;
      }
      const ctx = document.getElementById('chart').getContext('2d');
      const chart = new Chart(ctx, {
        // The type of chart we want to create
        type: 'pie',
        // The data for our dataset
        data: {
            labels: labelMaker(poll.choices),
            datasets: [{
              backgroundColor: backgroundColors(poll.choices.length),
              borderColor: 'rgba(0, 0, 0, 0.5)',
              data: dataMaker(poll.choices),
            }]
        },
        // Configuration options go here
        options: {
          title: {
            display: true,
            fontSize: 20,
            text: poll.question
          },
          maintainAspectRatio: false,
          responsive: false,
          legend: {
            position: 'bottom',
          },
        }
      });
    });