extends layout

block scripts
  script(src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js" rel="text/javascript")

block content
  .chart-container
    canvas(id="chart" width="500" height="500")
  script.
    const labels = !{labels};
    const poll = !{poll};
    const ctx = document.getElementById('chart').getContext('2d');
    const chart = new Chart(ctx, {
      // The type of chart we want to create
      type: 'pie',
      // The data for our dataset
      data: {
          labels: labels,
          datasets: [{
            backgroundColor: ['rgb(255, 99, 132)','rgb(100, 99, 100)','rgb(255, 255, 132)'],
            borderColor: 'rgb(0, 0, 0)',
            data: [5, 1, 2, 3],
          }]
      },
      // Configuration options go here
      options: {
        title: {
          display: true,
          text: poll.question
        },
        maintainAspectRatio: false,
        responsive: false,
        legend: {
          position: 'right',
        },
      }
    });