extends layout

block content
  .container
    h3 Hello #{user.name}!
    hr
    if polls.length === 0
      p There are no polls!
    else
      h5 Your polls: 
      table.table.table-hover.table-condensed
        tbody
          each poll in polls
            - let date = moment(poll.date).fromNow()
            tr.clickable-row(data-href=`/poll/${poll._id}`)
              td(style='color: #337ab7') #{poll.question}
              td Posted: #{date}