extends layout

block content
  .center-block
    h2 View Poll
    hr
    form.poll-vote(action=`/poll/${poll._id}/vote` method="POST")
      .form-group.well
        label(for="question") Question
        p.form-control-static #{poll.question}
      h5(style="margin-bottom: 20px;") Please select one of the following options:
      each choice, index in poll.choices
        .form-group.radio
          label
            input(type="radio" name="optionsRadios" value=`${index}`)
            | #{choice.text}
      hr
      input.btn.btn-success(type="submit" value="Vote")