body {
  margin: 0;
  padding: 0;
}

td {
  vertical-align: middle;
}

.navbar {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0;
}

.graph-container {
  margin: 0 auto;
  text-align: left;
}

.results {
  padding-left: 60px;
}

.graphs {
  margin-bottom: 30px;
}

.jumbotron {
  text-align: center;
}

.clickable-row {
  cursor: pointer;
}

.center-block {
  width: 400px;
}

.login-form {
  min-width: 300px;
  width: 40%;
}

.result-container {
  min-width: 600px;
  width: 80%;
}

/* 
  ==========
  Footer
  ==========
*/

.fa-twitter {
  color: #4099FF;
}

.fa-github {
  text-decoration: none;
  color: #000;
}