mixin forgotForm()
  form(action="/login" method="POST")
    .form-group
      h4(style="margin-top: 30px;") Forgot password?
      label(for="email") Email Address
      input.form-control(type="email" name="email" required)
    input.btn.btn-default(type="button" value="Reset Password")