mixin pollVote()
  form.poll-vote(action="/vote" method="POST")
    .form-group
      label(for="question") Question
      p.form-control-static #{poll.question}
    each choice in poll.choices
      .form-group.radio
        label
          input(type="radio" name="optionsRadios" value=`option`)
          | #{choice.text}
    input.btn.btn-success(type="submit" value="Vote")