mixin pollForm()
  form(class="poll-form" action="/new" method="POST")
    .form-group
      label(for="question") Question
      input.form-control(type="text" name="question" placeholder="Enter question" required)
    .form-group.user-options
      label Options
      input.form-control(type="text" name="options" placeholder="Enter poll option" required)
      input.form-control(type="text" name="options" placeholder="Enter poll option" required)
      input.btn.btn-info.add-option(type="button" value="Add Option")
    input.btn.btn-success(type="submit" value="Create Poll")